main {
margin: 5%;
}

body {
  background: #5F2165;
}

#container {
  flex-grow: 1;
  padding: 1rem;
}
#box1{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  background: #0807086a;
  border-radius: 10%;
 
}

#box2{
  width: 37%;
  height: 443px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  float: right;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  background: #0807086a;
  border-radius: 10%;
}

h2 {
  padding: 2%;
  margin: 0%;
  margin-left: 15%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  background: #0807086a;
  border-radius: 10%;
}

#box3 {
  padding: 3%;
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  background: #0807086a;
  border-radius: 10%;
}

  button {
    background-color: #80C825;
    color: white;padding: 14px 20px;
    margin: 8px 0;
    border: inline-block;
    cursor: pointer;
    width: 70%;
  }



    background: rgb(1, 0, 0);
    padding: 0.5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-top: 1%;
    font-family: lobster;
    color: #1c1cd9;
    font-size: 50px;
    display: inline-block;
    border: solid;
    border-radius: 10%;
    border-width: 4px;
    border-color: rgb(182, 36, 60);
